/* ===========Dimens============== */
.ml-0 {
  margin-left: 0px; }

.mt-0 {
  margin-top: 0px; }

.mr-0 {
  margin-right: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.ml-5 {
  margin-left: 5px; }

.mt-5 {
  margin-top: 5px; }

.mr-5 {
  margin-right: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-10 {
  margin-left: 10px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-15 {
  margin-left: 15px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-20 {
  margin-left: 20px; }

.mt-20 {
  margin-top: 20px; }

.mr-20 {
  margin-right: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-25 {
  margin-left: 25px; }

.mt-25 {
  margin-top: 25px; }

.mr-25 {
  margin-right: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.ml-30 {
  margin-left: 30px; }

.mt-30 {
  margin-top: 30px; }

.mr-30 {
  margin-right: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-35 {
  margin-left: 35px; }

.mt-35 {
  margin-top: 35px; }

.mr-35 {
  margin-right: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.ml-40 {
  margin-left: 40px; }

.mt-40 {
  margin-top: 40px; }

.mr-40 {
  margin-right: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-45 {
  margin-left: 45px; }

.mt-45 {
  margin-top: 45px; }

.mr-45 {
  margin-right: 45px; }

.mb-45 {
  margin-bottom: 45px; }

.ml-50 {
  margin-left: 50px; }

.mt-50 {
  margin-top: 50px; }

.mr-50 {
  margin-right: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.pl-0 {
  padding-left: 0px; }

.pt-0 {
  padding-top: 0px; }

.pr-0 {
  padding-right: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pl-5 {
  padding-left: 5px; }

.pt-5 {
  padding-top: 5px; }

.pr-5 {
  padding-right: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-10 {
  padding-left: 10px; }

.pt-10 {
  padding-top: 10px; }

.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-15 {
  padding-left: 15px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-20 {
  padding-left: 20px; }

.pt-20 {
  padding-top: 20px; }

.pr-20 {
  padding-right: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pl-25 {
  padding-left: 25px; }

.pt-25 {
  padding-top: 25px; }

.pr-25 {
  padding-right: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pl-30 {
  padding-left: 30px; }

.pt-30 {
  padding-top: 30px; }

.pr-30 {
  padding-right: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pl-35 {
  padding-left: 35px; }

.pt-35 {
  padding-top: 35px; }

.pr-35 {
  padding-right: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.pl-40 {
  padding-left: 40px; }

.pt-40 {
  padding-top: 40px; }

.pr-40 {
  padding-right: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pl-45 {
  padding-left: 45px; }

.pt-45 {
  padding-top: 45px; }

.pr-45 {
  padding-right: 45px; }

.pb-45 {
  padding-bottom: 45px; }

.pl-50 {
  padding-left: 50px; }

.pt-50 {
  padding-top: 50px; }

.pr-50 {
  padding-right: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.height-0 {
  height: 0px; }

.height-25 {
  height: 25px; }

.height-50 {
  height: 50px; }

.height-75 {
  height: 75px; }

.height-100 {
  height: 100px; }

.height-125 {
  height: 125px; }

.height-150 {
  height: 150px; }

.height-175 {
  height: 175px; }

.height-200 {
  height: 200px; }

.height-225 {
  height: 225px; }

.height-250 {
  height: 250px; }

.height-275 {
  height: 275px; }

.height-300 {
  height: 300px; }

.height-325 {
  height: 325px; }

.height-350 {
  height: 350px; }

.height-375 {
  height: 375px; }

.height-400 {
  height: 400px; }

.height-425 {
  height: 425px; }

.height-450 {
  height: 450px; }

.height-475 {
  height: 475px; }

.height-500 {
  height: 500px; }

.height-vh-0 {
  height: 0vh; }

.height-vh-5 {
  height: 5vh; }

.height-vh-10 {
  height: 10vh; }

.height-vh-15 {
  height: 15vh; }

.height-vh-20 {
  height: 20vh; }

.height-vh-25 {
  height: 25vh; }

.height-vh-30 {
  height: 30vh; }

.height-vh-35 {
  height: 35vh; }

.height-vh-40 {
  height: 40vh; }

.height-vh-45 {
  height: 45vh; }

.height-vh-50 {
  height: 50vh; }

.height-vh-55 {
  height: 55vh; }

.height-vh-60 {
  height: 60vh; }

.height-vh-65 {
  height: 65vh; }

.height-vh-70 {
  height: 70vh; }

.height-vh-75 {
  height: 75vh; }

.height-vh-80 {
  height: 80vh; }

.height-vh-85 {
  height: 85vh; }

.height-vh-90 {
  height: 90vh; }

.height-vh-95 {
  height: 95vh; }

.height-vh-100 {
  height: 100vh; }

.width-0 {
  width: 0px; }

.width-25 {
  width: 25px; }

.width-50 {
  width: 50px; }

.width-75 {
  width: 75px; }

.width-100 {
  width: 100px; }

.width-125 {
  width: 125px; }

.width-150 {
  width: 150px; }

.width-175 {
  width: 175px; }

.width-200 {
  width: 200px; }

.width-225 {
  width: 225px; }

.width-250 {
  width: 250px; }

.width-275 {
  width: 275px; }

.width-300 {
  width: 300px; }

.width-325 {
  width: 325px; }

.width-350 {
  width: 350px; }

.width-375 {
  width: 375px; }

.width-400 {
  width: 400px; }

.width-425 {
  width: 425px; }

.width-450 {
  width: 450px; }

.width-475 {
  width: 475px; }

.width-500 {
  width: 500px; }

.fs-0 {
  font-size: 0px; }

.fs-2 {
  font-size: 2px; }

.fs-4 {
  font-size: 4px; }

.fs-6 {
  font-size: 6px; }

.fs-8 {
  font-size: 8px; }

.fs-10 {
  font-size: 10px; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-22 {
  font-size: 22px; }

.fs-24 {
  font-size: 24px; }

.fs-26 {
  font-size: 26px; }

.fs-28 {
  font-size: 28px; }

.fs-30 {
  font-size: 30px; }

.fs-32 {
  font-size: 32px; }

.fs-34 {
  font-size: 34px; }

.fs-36 {
  font-size: 36px; }

.fs-38 {
  font-size: 38px; }

.fs-40 {
  font-size: 40px; }

.fs-42 {
  font-size: 42px; }

.fs-44 {
  font-size: 44px; }

.fs-46 {
  font-size: 46px; }

.fs-48 {
  font-size: 48px; }

.fs-50 {
  font-size: 50px; }

/* ===========Color============== */
.col-red-100 {
  color: #FFCDD2 !important; }

.col-red-300 {
  color: #E57373 !important; }

.col-red-500 {
  color: #F44336 !important; }

.col-red-700 {
  color: #D32F2F !important; }

.col-red-900 {
  color: #B71C1C !important; }

.col-red-a100 {
  color: #FF8A80 !important; }

.col-red-a200 {
  color: #FF5252 !important; }

.col-red-a400 {
  color: #FF1744 !important; }

.col-red-a700 {
  color: #D50000 !important; }

.col-pink-100 {
  color: #F8BBD0 !important; }

.col-pink-300 {
  color: #F06292 !important; }

.col-pink-500 {
  color: #E91E63 !important; }

.col-pink-700 {
  color: #C2185B !important; }

.col-pink-900 {
  color: #880E4F !important; }

.col-pink-a100 {
  color: #FF80AB !important; }

.col-pink-a200 {
  color: #FF4081 !important; }

.col-pink-a400 {
  color: #F50057 !important; }

.col-pink-a700 {
  color: #C51162 !important; }

.col-purple-100 {
  color: #E1BEE7 !important; }

.col-purple-300 {
  color: #BA68C8 !important; }

.col-purple-500 {
  color: #9C27B0 !important; }

.col-purple-700 {
  color: #7B1FA2 !important; }

.col-purple-900 {
  color: #4A148C !important; }

.col-purple-a100 {
  color: #EA80FC !important; }

.col-purple-a200 {
  color: #E040FB !important; }

.col-purple-a400 {
  color: #D500F9 !important; }

.col-purple-a700 {
  color: #AA00FF !important; }

.col-deep-purple-100 {
  color: #D1C4E9 !important; }

.col-deep-purple-300 {
  color: #9575CD !important; }

.col-deep-purple-500 {
  color: #673AB7 !important; }

.col-deep-purple-700 {
  color: #512DA8 !important; }

.col-deep-purple-900 {
  color: #311B92 !important; }

.col-deep-purple-a100 {
  color: #B388FF !important; }

.col-deep-purple-a200 {
  color: #7C4DFF !important; }

.col-deep-purple-a400 {
  color: #651FFF !important; }

.col-deep-purple-a700 {
  color: #6200EA !important; }

.col-indigo-100 {
  color: #C5CAE9 !important; }

.col-indigo-300 {
  color: #7986CB !important; }

.col-indigo-500 {
  color: #3F51B5 !important; }

.col-indigo-700 {
  color: #303F9F !important; }

.col-indigo-900 {
  color: #1A237E !important; }

.col-indigo-a100 {
  color: #8C9EFF !important; }

.col-indigo-a200 {
  color: #536DFE !important; }

.col-indigo-a400 {
  color: #3D5AFE !important; }

.col-indigo-a700 {
  color: #304FFE !important; }

.col-blue-100 {
  color: #BBDEFB !important; }

.col-blue-300 {
  color: #64B5F6 !important; }

.col-blue-500 {
  color: #2196F3 !important; }

.col-blue-700 {
  color: #1976D2 !important; }

.col-blue-900 {
  color: #0D47A1 !important; }

.col-blue-a100 {
  color: #82B1FF !important; }

.col-blue-a200 {
  color: #448AFF !important; }

.col-blue-a400 {
  color: #2979FF !important; }

.col-blue-a700 {
  color: #2962FF !important; }

.col-light-blue-100 {
  color: #B3E5FC !important; }

.col-light-blue-300 {
  color: #4FC3F7 !important; }

.col-light-blue-500 {
  color: #03A9F4 !important; }

.col-light-blue-700 {
  color: #0288D1 !important; }

.col-light-blue-900 {
  color: #01579B !important; }

.col-light-blue-a100 {
  color: #80D8FF !important; }

.col-light-blue-a200 {
  color: #40C4FF !important; }

.col-light-blue-a400 {
  color: #00B0FF !important; }

.col-light-blue-a700 {
  color: #0091EA !important; }

.col-cyan-100 {
  color: #B2EBF2 !important; }

.col-cyan-300 {
  color: #4DD0E1 !important; }

.col-cyan-500 {
  color: #00BCD4 !important; }

.col-cyan-700 {
  color: #0097A7 !important; }

.col-cyan-900 {
  color: #006064 !important; }

.col-cyan-a100 {
  color: #84FFFF !important; }

.col-cyan-a200 {
  color: #18FFFF !important; }

.col-cyan-a400 {
  color: #00E5FF !important; }

.col-cyan-a700 {
  color: #00B8D4 !important; }

.col-teal-100 {
  color: #B2DFDB !important; }

.col-teal-300 {
  color: #4DB6AC !important; }

.col-teal-500 {
  color: #009688 !important; }

.col-teal-700 {
  color: #00796B !important; }

.col-teal-900 {
  color: #004D40 !important; }

.col-teal-a100 {
  color: #A7FFEB !important; }

.col-teal-a200 {
  color: #64FFDA !important; }

.col-teal-a400 {
  color: #1DE9B6 !important; }

.col-teal-a700 {
  color: #00BFA5 !important; }

.col-green-100 {
  color: #C8E6C9 !important; }

.col-green-300 {
  color: #81C784 !important; }

.col-green-500 {
  color: #4CAF50 !important; }

.col-green-700 {
  color: #388E3C !important; }

.col-green-900 {
  color: #1B5E20 !important; }

.col-green-a100 {
  color: #B9F6CA !important; }

.col-green-a200 {
  color: #69F0AE !important; }

.col-green-a400 {
  color: #00E676 !important; }

.col-green-a700 {
  color: #00C853 !important; }

.col-light-green-100 {
  color: #DCEDC8 !important; }

.col-light-green-300 {
  color: #AED581 !important; }

.col-light-green-500 {
  color: #8BC34A !important; }

.col-light-green-700 {
  color: #689F38 !important; }

.col-light-green-900 {
  color: #33691E !important; }

.col-light-green-a100 {
  color: #CCFF90 !important; }

.col-light-green-a200 {
  color: #B2FF59 !important; }

.col-light-green-a400 {
  color: #76FF03 !important; }

.col-light-green-a700 {
  color: #64DD17 !important; }

.col-lime-100 {
  color: #F0F4C3 !important; }

.col-lime-300 {
  color: #DCE775 !important; }

.col-lime-500 {
  color: #CDDC39 !important; }

.col-lime-700 {
  color: #AFB42B !important; }

.col-lime-900 {
  color: #827717 !important; }

.col-lime-a100 {
  color: #F4FF81 !important; }

.col-lime-a200 {
  color: #EEFF41 !important; }

.col-lime-a400 {
  color: #C6FF00 !important; }

.col-lime-a700 {
  color: #AEEA00 !important; }

.col-yellow-100 {
  color: #FFF9C4 !important; }

.col-yellow-300 {
  color: #FFF176 !important; }

.col-yellow-500 {
  color: #ffe821 !important; }

.col-yellow-700 {
  color: #FBC02D !important; }

.col-yellow-900 {
  color: #F57F17 !important; }

.col-yellow-a100 {
  color: #FFFF8D !important; }

.col-yellow-a200 {
  color: #FFFF00 !important; }

.col-yellow-a400 {
  color: #FFEA00 !important; }

.col-yellow-a700 {
  color: #FFD600 !important; }

.col-amber-100 {
  color: #FFECB3 !important; }

.col-amber-300 {
  color: #FFD54F !important; }

.col-amber-500 {
  color: #FFC107 !important; }

.col-amber-700 {
  color: #FFA000 !important; }

.col-amber-900 {
  color: #FF6F00 !important; }

.col-amber-a100 {
  color: #FFE57F !important; }

.col-amber-a200 {
  color: #FFD740 !important; }

.col-amber-a400 {
  color: #FFC400 !important; }

.col-amber-a700 {
  color: #FFAB00 !important; }

.col-orange-100 {
  color: #FFE0B2 !important; }

.col-orange-300 {
  color: #FFB74D !important; }

.col-orange-500 {
  color: #FF9800 !important; }

.col-orange-700 {
  color: #F57C00 !important; }

.col-orange-900 {
  color: #E65100 !important; }

.col-orange-a100 {
  color: #FFD180 !important; }

.col-orange-a200 {
  color: #FFAB40 !important; }

.col-orange-a400 {
  color: #FF9100 !important; }

.col-orange-a700 {
  color: #FF6D00 !important; }

.col-deep-orange-100 {
  color: #FFCCBC !important; }

.col-deep-orange-300 {
  color: #FF8A65 !important; }

.col-deep-orange-500 {
  color: #FF5722 !important; }

.col-deep-orange-700 {
  color: #E64A19 !important; }

.col-deep-orange-900 {
  color: #BF360C !important; }

.col-deep-orange-a100 {
  color: #FF9E80 !important; }

.col-deep-orange-a200 {
  color: #FF6E40 !important; }

.col-deep-orange-a400 {
  color: #FF3D00 !important; }

.col-deep-orange-a700 {
  color: #DD2C00 !important; }

.col-brown-100 {
  color: #D7CCC8 !important; }

.col-brown-300 {
  color: #A1887F !important; }

.col-brown-500 {
  color: #795548 !important; }

.col-brown-700 {
  color: #5D4037 !important; }

.col-brown-900 {
  color: #3E2723 !important; }

.col-grey-100 {
  color: #F5F5F5 !important; }

.col-grey-300 {
  color: #E0E0E0 !important; }

.col-grey-500 {
  color: #9E9E9E !important; }

.col-grey-700 {
  color: #616161 !important; }

.col-grey-900 {
  color: #212121 !important; }

.col-blue-grey-100 {
  color: #CFD8DC !important; }

.col-blue-grey-300 {
  color: #90A4AE !important; }

.col-blue-grey-500 {
  color: #607D8B !important; }

.col-blue-grey-700 {
  color: #455A64 !important; }

.col-blue-grey-900 {
  color: #263238 !important; }

.col-black {
  color: #000000 !important; }

.col-white {
  color: #ffffff !important; }

.bg-red-100 {
  background-color: #FFCDD2 !important; }

.bg-red-300 {
  background-color: #E57373 !important; }

.bg-red-500 {
  background-color: #F44336 !important; }

.bg-red-700 {
  background-color: #D32F2F !important; }

.bg-red-900 {
  background-color: #B71C1C !important; }

.bg-red-a100 {
  background-color: #FF8A80 !important; }

.bg-red-a200 {
  background-color: #FF5252 !important; }

.bg-red-a400 {
  background-color: #FF1744 !important; }

.bg-red-a700 {
  background-color: #D50000 !important; }

.bg-pink-100 {
  background-color: #F8BBD0 !important; }

.bg-pink-300 {
  background-color: #F06292 !important; }

.bg-pink-500 {
  background-color: #E91E63 !important; }

.bg-pink-700 {
  background-color: #C2185B !important; }

.bg-pink-900 {
  background-color: #880E4F !important; }

.bg-pink-a100 {
  background-color: #FF80AB !important; }

.bg-pink-a200 {
  background-color: #FF4081 !important; }

.bg-pink-a400 {
  background-color: #F50057 !important; }

.bg-pink-a700 {
  background-color: #C51162 !important; }

.bg-purple-100 {
  background-color: #E1BEE7 !important; }

.bg-purple-300 {
  background-color: #BA68C8 !important; }

.bg-purple-500 {
  background-color: #9C27B0 !important; }

.bg-purple-700 {
  background-color: #7B1FA2 !important; }

.bg-purple-900 {
  background-color: #4A148C !important; }

.bg-purple-a100 {
  background-color: #EA80FC !important; }

.bg-purple-a200 {
  background-color: #E040FB !important; }

.bg-purple-a400 {
  background-color: #D500F9 !important; }

.bg-purple-a700 {
  background-color: #AA00FF !important; }

.bg-deep-purple-100 {
  background-color: #D1C4E9 !important; }

.bg-deep-purple-300 {
  background-color: #9575CD !important; }

.bg-deep-purple-500 {
  background-color: #673AB7 !important; }

.bg-deep-purple-700 {
  background-color: #512DA8 !important; }

.bg-deep-purple-900 {
  background-color: #311B92 !important; }

.bg-deep-purple-a100 {
  background-color: #B388FF !important; }

.bg-deep-purple-a200 {
  background-color: #7C4DFF !important; }

.bg-deep-purple-a400 {
  background-color: #651FFF !important; }

.bg-deep-purple-a700 {
  background-color: #6200EA !important; }

.bg-indigo-100 {
  background-color: #C5CAE9 !important; }

.bg-indigo-300 {
  background-color: #7986CB !important; }

.bg-indigo-500 {
  background-color: #3F51B5 !important; }

.bg-indigo-700 {
  background-color: #303F9F !important; }

.bg-indigo-900 {
  background-color: #1A237E !important; }

.bg-indigo-a100 {
  background-color: #8C9EFF !important; }

.bg-indigo-a200 {
  background-color: #536DFE !important; }

.bg-indigo-a400 {
  background-color: #3D5AFE !important; }

.bg-indigo-a700 {
  background-color: #304FFE !important; }

.bg-blue-100 {
  background-color: #BBDEFB !important; }

.bg-blue-300 {
  background-color: #64B5F6 !important; }

.bg-blue-500 {
  background-color: #2196F3 !important; }

.bg-blue-700 {
  background-color: #1976D2 !important; }

.bg-blue-900 {
  background-color: #0D47A1 !important; }

.bg-blue-a100 {
  background-color: #82B1FF !important; }

.bg-blue-a200 {
  background-color: #448AFF !important; }

.bg-blue-a400 {
  background-color: #2979FF !important; }

.bg-blue-a700 {
  background-color: #2962FF !important; }

.bg-light-blue-100 {
  background-color: #B3E5FC !important; }

.bg-light-blue-300 {
  background-color: #4FC3F7 !important; }

.bg-light-blue-500 {
  background-color: #03A9F4 !important; }

.bg-light-blue-700 {
  background-color: #0288D1 !important; }

.bg-light-blue-900 {
  background-color: #01579B !important; }

.bg-light-blue-a100 {
  background-color: #80D8FF !important; }

.bg-light-blue-a200 {
  background-color: #40C4FF !important; }

.bg-light-blue-a400 {
  background-color: #00B0FF !important; }

.bg-light-blue-a700 {
  background-color: #0091EA !important; }

.bg-cyan-100 {
  background-color: #B2EBF2 !important; }

.bg-cyan-300 {
  background-color: #4DD0E1 !important; }

.bg-cyan-500 {
  background-color: #00BCD4 !important; }

.bg-cyan-700 {
  background-color: #0097A7 !important; }

.bg-cyan-900 {
  background-color: #006064 !important; }

.bg-cyan-a100 {
  background-color: #84FFFF !important; }

.bg-cyan-a200 {
  background-color: #18FFFF !important; }

.bg-cyan-a400 {
  background-color: #00E5FF !important; }

.bg-cyan-a700 {
  background-color: #00B8D4 !important; }

.bg-teal-100 {
  background-color: #B2DFDB !important; }

.bg-teal-300 {
  background-color: #4DB6AC !important; }

.bg-teal-500 {
  background-color: #009688 !important; }

.bg-teal-700 {
  background-color: #00796B !important; }

.bg-teal-900 {
  background-color: #004D40 !important; }

.bg-teal-a100 {
  background-color: #A7FFEB !important; }

.bg-teal-a200 {
  background-color: #64FFDA !important; }

.bg-teal-a400 {
  background-color: #1DE9B6 !important; }

.bg-teal-a700 {
  background-color: #00BFA5 !important; }

.bg-green-100 {
  background-color: #C8E6C9 !important; }

.bg-green-300 {
  background-color: #81C784 !important; }

.bg-green-500 {
  background-color: #4CAF50 !important; }

.bg-green-700 {
  background-color: #388E3C !important; }

.bg-green-900 {
  background-color: #1B5E20 !important; }

.bg-green-a100 {
  background-color: #B9F6CA !important; }

.bg-green-a200 {
  background-color: #69F0AE !important; }

.bg-green-a400 {
  background-color: #00E676 !important; }

.bg-green-a700 {
  background-color: #00C853 !important; }

.bg-light-green-100 {
  background-color: #DCEDC8 !important; }

.bg-light-green-300 {
  background-color: #AED581 !important; }

.bg-light-green-500 {
  background-color: #8BC34A !important; }

.bg-light-green-700 {
  background-color: #689F38 !important; }

.bg-light-green-900 {
  background-color: #33691E !important; }

.bg-light-green-a100 {
  background-color: #CCFF90 !important; }

.bg-light-green-a200 {
  background-color: #B2FF59 !important; }

.bg-light-green-a400 {
  background-color: #76FF03 !important; }

.bg-light-green-a700 {
  background-color: #64DD17 !important; }

.bg-lime-100 {
  background-color: #F0F4C3 !important; }

.bg-lime-300 {
  background-color: #DCE775 !important; }

.bg-lime-500 {
  background-color: #CDDC39 !important; }

.bg-lime-700 {
  background-color: #AFB42B !important; }

.bg-lime-900 {
  background-color: #827717 !important; }

.bg-lime-a100 {
  background-color: #F4FF81 !important; }

.bg-lime-a200 {
  background-color: #EEFF41 !important; }

.bg-lime-a400 {
  background-color: #C6FF00 !important; }

.bg-lime-a700 {
  background-color: #AEEA00 !important; }

.bg-yellow-100 {
  background-color: #FFF9C4 !important; }

.bg-yellow-300 {
  background-color: #FFF176 !important; }

.bg-yellow-500 {
  background-color: #ffe821 !important; }

.bg-yellow-700 {
  background-color: #FBC02D !important; }

.bg-yellow-900 {
  background-color: #F57F17 !important; }

.bg-yellow-a100 {
  background-color: #FFFF8D !important; }

.bg-yellow-a200 {
  background-color: #FFFF00 !important; }

.bg-yellow-a400 {
  background-color: #FFEA00 !important; }

.bg-yellow-a700 {
  background-color: #FFD600 !important; }

.bg-amber-100 {
  background-color: #FFECB3 !important; }

.bg-amber-300 {
  background-color: #FFD54F !important; }

.bg-amber-500 {
  background-color: #FFC107 !important; }

.bg-amber-700 {
  background-color: #FFA000 !important; }

.bg-amber-900 {
  background-color: #FF6F00 !important; }

.bg-amber-a100 {
  background-color: #FFE57F !important; }

.bg-amber-a200 {
  background-color: #FFD740 !important; }

.bg-amber-a400 {
  background-color: #FFC400 !important; }

.bg-amber-a700 {
  background-color: #FFAB00 !important; }

.bg-orange-100 {
  background-color: #FFE0B2 !important; }

.bg-orange-300 {
  background-color: #FFB74D !important; }

.bg-orange-500 {
  background-color: #FF9800 !important; }

.bg-orange-700 {
  background-color: #F57C00 !important; }

.bg-orange-900 {
  background-color: #E65100 !important; }

.bg-orange-a100 {
  background-color: #FFD180 !important; }

.bg-orange-a200 {
  background-color: #FFAB40 !important; }

.bg-orange-a400 {
  background-color: #FF9100 !important; }

.bg-orange-a700 {
  background-color: #FF6D00 !important; }

.bg-deep-orange-100 {
  background-color: #FFCCBC !important; }

.bg-deep-orange-300 {
  background-color: #FF8A65 !important; }

.bg-deep-orange-500 {
  background-color: #FF5722 !important; }

.bg-deep-orange-700 {
  background-color: #E64A19 !important; }

.bg-deep-orange-900 {
  background-color: #BF360C !important; }

.bg-deep-orange-a100 {
  background-color: #FF9E80 !important; }

.bg-deep-orange-a200 {
  background-color: #FF6E40 !important; }

.bg-deep-orange-a400 {
  background-color: #FF3D00 !important; }

.bg-deep-orange-a700 {
  background-color: #DD2C00 !important; }

.bg-brown-100 {
  background-color: #D7CCC8 !important; }

.bg-brown-300 {
  background-color: #A1887F !important; }

.bg-brown-500 {
  background-color: #795548 !important; }

.bg-brown-700 {
  background-color: #5D4037 !important; }

.bg-brown-900 {
  background-color: #3E2723 !important; }

.bg-grey-100 {
  background-color: #F5F5F5 !important; }

.bg-grey-300 {
  background-color: #E0E0E0 !important; }

.bg-grey-500 {
  background-color: #9E9E9E !important; }

.bg-grey-700 {
  background-color: #616161 !important; }

.bg-grey-900 {
  background-color: #212121 !important; }

.bg-blue-grey-100 {
  background-color: #CFD8DC !important; }

.bg-blue-grey-300 {
  background-color: #90A4AE !important; }

.bg-blue-grey-500 {
  background-color: #607D8B !important; }

.bg-blue-grey-700 {
  background-color: #455A64 !important; }

.bg-blue-grey-900 {
  background-color: #263238 !important; }

.bg-black {
  background-color: #000000 !important; }

.bg-white {
  background-color: #ffffff !important; }

/*# sourceMappingURL=style.css.map */
